<footer class="footer">
  <div class="container">
    <!-- <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <div class="contenido subscribe mb-5">
          <form class="suscripcion">
            <input class="add-correo" type="email" placeholder="subscribe@me.now">
            <button class="submit-correo" type="button">
              <span class="before-submit">Subscribe</span>
              <span class="after-submit">Thank you for subscribing!</span>
            </button>
          </form>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4 col-lg-5">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
            <h2 class="footer-heading"><a href="#" class="logo">KunturStyle</a></h2>
            <p>Una tienda digital de ropa urbana.</p>
            <a href="https://github.com/DovekArt/grupo_5_Kuntur_Style">read more <span class="ion-ios-arrow-round-forward"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-7">
        <div class="row">
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Soporte</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Buy &amp; Sell</a></li>
              <li><a href="#" class="py-1 d-block">Frequent Questions</a></li>
              <li><a href="#" class="py-1 d-block">Giving back</a></li>
              <li><a href="#" class="py-1 d-block">Help &amp; Support</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Menú</h2>
            <ul class="list-unstyled">
              <li><a href="/" class="py-1 d-block">Inicio</a></li>
              <li><a href="/sale" class="py-1 d-block">Ofertas</a></li>
              <li><a href="/account/register" class="py-1 d-block">Crear cuenta</a></li>
              <li><a href="/account/login" class="py-1 d-block">Ingresar cuenta</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">About Us</h2>
            <ul class="list-unstyled">
              <li><a href="https://github.com/DovekArt/grupo_5_Kuntur_Style/blob/main/README.md" class="py-1 d-block">Blog</a></li>
              <li><a href="https://github.com/DovekArt/grupo_5_Kuntur_Style" class="py-1 d-block">Team</a></li>
              <li><a href="https://github.com/DovekArt/grupo_5_Kuntur_Style" class="py-1 d-block">Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Social</h2>
            <ul class="list-unstyled">
              <li><i class="fab fa-facebook p-1" style="color: #9d9d9d;"></i><a href="#" class="py-1">Facebook</a></li>
              <li><i class="fab fa-twitter pr-2" style="color: #9d9d9d;"></i><a href="#" class="py-1">Twitter</a></li>
              <li><i class="fab fa-instagram p-1" style="color: #9d9d9d;"></i><a href="#" class="py-1">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-8">
        <p class="copyright">
          Copyright ©
          <script>document.write(new Date().getFullYear());</script> All rights reserved | Esta pagina esta hecha
          con <i class="fas fa-heart" style="color: #ff0000;"></i> por <a href="https://github.com/DovekArt/grupo_5_Kuntur_Style" target="_blank"
            previewlistener="true">DHG5</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" href="#">Terms</a>
          <a class="mr-md-3" href="#">Privacy</a>
          <a class="mr-md-3" href="#">Compliances</a>
        </p>
      </div>
    </div>
  </div>
</footer>