/* @media (min-width: 1115px) {
   .container-main{
       width: 1115px;
   }
}
*/


  @media (min-width: 1115px){
    .container-main {
     display: flex;
     padding: 90px 50px;
     gap: 124px;
     justify-content: center;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     margin: 10px 80px 10px 80px;
    }
  }



.gallery__image-container {
  width: 100%;
  height: 300px;
  background-image: url(../img/productos/bermuda-2.jpg) ;
  background-position-y: -35px;
  background-size: cover;
}

.gallery__image-container:hover {
  cursor: pointer;
}


.gallery__previus {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 15px;
}

.gallery__previus :hover{
  cursor: pointer;
}

.gallery__next {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%; 
  position: absolute;
  top: 170px;
  left: 320px;
}

.gallery__next :hover {
  cursor: pointer;
}

.gallery__thumbnails {
  display: none;
}

@media (min-width: 1115px) {
  .gallery__thumbnails{
      display: flex;
      justify-content: space-between;
  }
}

.gallery__thumbnail {
  width: 90px;
  border-radius: 16px;
}
.gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid orange;
}


@media (min-width: 1115px) {
  .gallery {
    width: 446px;
  }
  .gallery__image-container{
    background-position-y: 0px;
    border-radius: 16px;
    height: 446px;
    margin-bottom: 32px;
  }
  .gallery__next{
    display: none ;
  }
  .gallery__previus{
    display: none;
  }
  
} 






.details{
  padding: 24px;
}

.details__company {
  color: orange;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.details__title {
  font-size: 1.7em;
  margin-bottom: 16px;

}

.details__description {
  font-size: 0.94em;
  color: darkgoldenrod;
  line-height: 24px;
  margin-bottom: 24px;
}

.details__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;

}

.details__discount {
  font-size: 0.5em;
  background-color: lightgray;
  color: lightsalmon;
  padding: 4px;
  border: 4px;
}

.details__before {
  font-weight: 700;
  color: gray;
  text-decoration: line-through;
}


.details__button {
  background-color: orange;
  color: white;
  width: 100%;
  height: 57px;
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.details__button:hover{
  cursor: pointer;
  opacity: 0.5;
}

@media (min-width: 1115px){
  .details {
    width: 446px;
    padding-top: 60px;
  }
  .details__title{
    font-size: 2.7em;
    margin-bottom: 48px;
  }
  .details__description{
    font-size: 0.9em;
    margin-bottom: 37px;
  }
  .details__prices {
    flex-direction: column;
    align-items: flex-start;
  }
  .details__product-quantity {
    display: flex;
    gap: 32px;
  }
  .details__product-quantity {
    display: flex;
    gap: 32px;
  }
}









.input{
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray ;
}

.input__minus{
  width: 25px;
  height: 100%;
  padding: 24px 5px;
}

.input__number {
  width: 100%;
  border: none;
  background-color: lightgray;
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  outline: none;
}

.input__plus {
  width: 25px;
  height: 100%;
  padding: 19px 3px;
}

.input__minus:hover {
  cursor: pointer; 
}

.input__plus:hover {
  cursor: pointer; 
}







.cart-modal {
  display: none;
  border: solid 2px;
  width: 360px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: white;
}

.cart-modal__title {
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid lightblue;
}

.cart-modal__checkou-container {
  padding: 24px;
}

.cart-modal__details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  color: lightslategray;
}

.cart-modal__image {
  width: 50px;
  border-radius: 4px;
}

.cart-modal__price span {
  color: black;
  font-weight: 700;
}

.cart-modal__delete:hover {
  cursor: pointer;
}

.cart-modal__checkount {
  background-color: orange;
  color: white;
  width: 100%;
  height: 57px;
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  
}



.modal-gallery {
  width: 550px;
  
}

.modal-gallery__background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-content: center;
  display: none;
}

.modal-gallery__close-container {
  text-align: right;
  height: 30px;
}

.modal-gallery__close{
  width: 16px;
}

.modal-gallery__close:hover {
  cursor: pointer;
  content: url("agregar icono contrario o de otro color");
}

.modal-gallery__image-container {
  height: 446px;
  background-image: url(../img/productos/bermuda-2.jpg) ;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 32px;
  position: relative;
}

.modal-gallery__previus {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 15px;
}

.modal-gallery__next {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%; 
  position: absolute;
  top: 170px;
  left: 470px;
}


.modal-gallery__thumbnails{
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: auto;
}

.modal-gallery__thumbnail {
  width: 90px;
  border-radius: 16px;
}

.modal-gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid orange;
}