.section-instafeed-home,
.section-banners-home,
.section-allsocialmedia-home,
.section-products-related,
.contact-page {
  margin-bottom: 60px;
}
.alert {
  margin-bottom: 35px;
}
.form-group {
  margin-bottom: 20px;
}
footer.section-footer-home {
  margin-top: -60px;
}
.transition-soft {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.transition-up {
  position: relative;
  top: -8px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
  pointer-events: none;
}
.transition-up-active {
  top: 0;
  opacity: 1;
  z-index: 100;
  pointer-events: all;
}
.fade-in-vertical {
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition-delay: 0.3s;
  -webkit-transform: translate(0, 40%);
  -ms-transform: translate(0, 40%);
  -moz-transform: translate(0, 40%);
  -o-transform: translate(0, 40%);
  transform: translate(0, 40%);
}
.fade-in-vertical.visible {
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
  opacity: 1;
}
.btn-transition {
  min-width: 100px;
  position: relative;
  overflow: hidden;
}
.btn-transition .transition-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -6px;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
  cursor: not-allowed;
}
.btn-transition .transition-container.active {
  opacity: 1;
}
.chip {
  position: relative;
  margin: 5px 10px 5px 0;
  padding: 4px 25px 4px 10px;
  font-size: 11px;
  white-space: normal;
  word-break: break-word;
  line-height: 18px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.chip-remove-icon {
  position: absolute;
  top: 3px;
  right: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px 6px 3px;
}
.chip:focus {
  outline: 0;
}
.chip:hover {
  opacity: 0.6;
}
.form-group .form-label {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.form-group .alert {
  margin: 10px 0 0;
}
.radio-button {
  display: block;
  clear: both;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.radio-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.radio-button.disabled input[type="radio"] {
  cursor: not-allowed;
}
.radio-button-content {
  position: relative;
  padding: 10px 0 10px 10px;
}
.radio-button-icons-container {
  position: absolute;
  top: 0;
  left: 0;
}
.radio-button-icons {
  position: relative;
  display: block;
  width: 18px;
  margin: 11px 8px 12px 0;
  overflow: hidden;
}
.radio-button-icon {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.radio-button input[type="radio"] {
  display: none;
}
.radio-button input[type="radio"] + .radio-button-content .checked {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.radio-button input[type="radio"]:checked + .radio-button-content .checked {
  top: 1px;
  left: 2px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.radio-button-label {
  padding-left: 32px;
}
.input-clear-content {
  position: absolute;
  right: 4px;
  bottom: 1px;
  width: 24px;
  height: 35px;
  padding: 4px;
  cursor: pointer;
}
.input-clear-content-ios {
  bottom: 12px;
}
.input-clear-content:before {
  display: block;
  margin: 8px 0 0 4px;
}
.form-select {
  padding-right: 30px;
}
.form-select:focus {
  outline: 0;
}
.form-select::-ms-expand {
  display: none;
}
input[disabled],
input[disabled]:hover,
input[readonly],
input[readonly]:hover,
select[disabled],
select[disabled]:hover,
select[readonly],
select[readonly]:hover,
textarea[disabled],
textarea[disabled]:hover,
textarea[readonly],
textarea[readonly]:hover,
button[disabled],
button[disabled]:hover,
button[readonly],
button[readonly]:hover {
  background-color: #ddd;
  cursor: not-allowed;
}
.list .list-item-shipping {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 0;
}
.list .radio-button-icons-container {
  display: none;
}
.list .radio-button-label {
  padding-left: 5px;
}
.list .list-item .radio-button-content {
  margin: 0;
  border-radius: 0;
}
.list .list-unstyled .radio-button-item:last-child .list-item,
.list .list-item:last-child {
  margin-bottom: 0;
}
.alert {
  clear: both;
  padding: 8px;
  border: 1px solid;
  text-align: center;
}
.notification-hidden {
  transition: all 0.1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  opacity: 0;
  -webkit-transform: translate(0, -10%);
  -ms-transform: translate(0, -10%);
  -moz-transform: translate(0, -10%);
  -o-transform: translate(0, -10%);
  transform: translate(0, -10%);
  pointer-events: none;
}
.notification-visible {
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.notification-floating {
  margin-top: -20px;
}
.notification-cart-container {
  right: 0;
  left: initial;
  width: 340px;
}
.notification-close {
  position: absolute;
  top: 9px;
  right: 3px;
  z-index: 1;
  font-size: 10px;
  cursor: pointer;
}
.bar-progress {
  position: relative;
  height: 2px;
}
.bar-progress .bar-progress-active {
  height: 2px;
  width: 0%;
}
.ship-free-rest-message {
  position: relative;
  height: 42px;
}
.ship-free-rest-message .ship-free-rest-text {
  position: absolute;
  top: -5px;
  width: 100%;
  text-align: center;
  line-height: 36px;
  opacity: 0;
}
.ship-free-rest-message.success .bar-progress-success {
  top: 0;
  opacity: 1;
}
.ship-free-rest-message.amount .bar-progress-amount {
  top: 0;
  opacity: 1;
}
.ship-free-rest-message.condition .bar-progress-condition {
  top: 0;
  opacity: 1;
}
.modal {
  position: fixed;
  top: 0;
  display: block;
  width: 80%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 20000;
}
.modal-zindex-top {
  z-index: 20001;
}
.modal-img-full {
  max-width: 100%;
  max-height: 190px;
}
.modal-header {
  width: auto;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-floating-close {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding-right: 5px;
  border: 0;
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  clear: both;
}
.modal-with-fixed-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-with-fixed-footer .modal-scrollable-area {
  height: 100%;
  overflow: auto;
}
.modal-full {
  width: 100%;
}
.modal-docked-md {
  width: 100%;
}
.modal-docked-small {
  width: 80%;
}
.modal-top {
  top: -100%;
}
.modal-fade {
  top: initial;
  bottom: -5%;
  opacity: 0;
}
.modal-bottom {
  top: 100%;
  left: 0;
}
.modal-left {
  left: -100%;
}
.modal-right {
  right: -100%;
}
.modal-centered {
  height: 100%;
  width: 100%;
}
.modal-centered-small {
  width: 80%;
  height: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.modal-centered-small .modal-body {
  min-height: 150px;
  max-height: 400px;
}
.modal.modal-show {
  opacity: 1;
}
.modal-top.modal-show,
.modal-bottom.modal-show {
  top: 0;
}
.modal-top.modal-show.modal-centered-small,
.modal-bottom.modal-show.modal-centered-small {
  top: 25%;
}
.modal-left.modal-show,
.modal-left-xs.modal-show {
  left: 0;
}
.modal-right.modal-show {
  right: 0;
}
.modal-fade.modal-show {
  bottom: 0;
  opacity: 1;
}
.modal-close {
  margin-right: 10px;
  cursor: pointer;
}
.modal-bottom-sheet {
  top: initial;
  bottom: -100%;
  width: 100%;
  height: auto;
}
.modal-bottom-sheet.modal-show {
  top: initial;
  bottom: 0;
  height: auto;
}
.modal-home-promotional .modal-close svg {
  width: 12px;
  margin-top: 3px;
}
.modal-home-promotional-top {
  padding-top: 35px;
}
.modal .tab-group {
  margin: 0 -10px 15px 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000047;
  z-index: 10000;
  cursor: pointer;
}
.modal-overlay.modal-zindex-top {
  z-index: 20000;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead th {
  padding: 8px;
}
.table thead th:first-of-type {
  padding-left: 0;
}
.table td {
  padding: 8px;
  text-align: left;
}
.tab-group {
  width: 100vw;
  padding: 0;
  overflow-x: scroll;
  white-space: nowrap;
}
.tab-group .tab {
  display: inline-flex;
  float: none;
  margin-right: 10px;
}
.tab-group .tab-link {
  float: left;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tab-panel:not(.active) {
  display: none;
}
.tab-panel.active {
  display: block;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}
.card-collapse {
  height: 52px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-collapse-toggle {
  position: absolute;
  top: 6px;
  right: 8px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-collapse-toggle.active {
  transform: rotate(90deg);
}
.card-collapse.active {
  height: calc(100% - 20px);
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
}
.card-header {
  padding: 15px;
  margin-bottom: 0;
}
.card-header-collapse {
  padding-right: 50px;
  position: relative;
}
.card-footer {
  padding: 15px;
}
.g-recaptcha {
  margin-bottom: 24px;
}
.g-recaptcha > div {
  margin: 0 auto;
}
.grecaptcha-badge {
  bottom: 100px !important;
}
.head-main.compress .logo-img {
  max-height: 35px;
}
.head-main a {
  cursor: pointer;
  width: auto;
}
.modal-nav-hamburger {
  flex: 1;
}
.modal-nav-hamburger .nav-list {
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
}
.modal-nav-hamburger .nav-item {
  display: block;
  padding: 0;
}
.modal-nav-hamburger .item-with-subitems {
  position: relative;
}
.modal-nav-hamburger .nav-list-link {
  display: flex;
  padding: 15px 20px;
  font-size: 14px;
  line-height: initial;
}
.modal-nav-hamburger .nav-list-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  font-size: 14px;
  cursor: pointer;
}
.modal-nav-hamburger .nav-list-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 80%;
  height: 100%;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.modal-nav-hamburger .nav-list-panel .modal-header {
  width: calc(100% + 40px);
  margin: -20px -20px 10px;
}
.modal-nav-hamburger .nav-list-panel-left {
  left: -100%;
}
.modal-nav-hamburger .nav-list-panel-right {
  right: -100%;
}
.modal-nav-hamburger .nav-list-panel-left.nav-list-panel-show {
  left: 0;
}
.modal-nav-hamburger .nav-list-panel-right.nav-list-panel-show {
  right: 0;
}
.modal-nav-hamburger .nav-list-panel-bottom-hide {
  top: 100%;
}
.modal-nav-hamburger .nav-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.modal-nav-hamburger .nav-primary {
  flex: 1;
}
.modal-nav-hamburger .footer-menu-link {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav-list-link {
  position: relative;
}
.desktop-dropdown::-webkit-scrollbar {
  width: 2px;
}
.desktop-list-subitems {
  padding: 20px;
  text-align: left;
  -webkit-column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-count: 2;
  -moz-column-gap: 24px;
  column-count: 2;
  column-gap: 24px;
}
.desktop-list-subitems .nav-item {
  display: block;
  margin: 0;
  padding: 2px 10px 2px 0;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.desktop-list-subitems .nav-item .nav-list-link {
  font-weight: 700;
  text-transform: uppercase;
}
.desktop-list-subitems .nav-item .list-subitems {
  padding: 0;
  margin: 0 0 20px;
}
.desktop-list-subitems .nav-item .list-subitems .nav-item .nav-list-link {
  margin-bottom: 6px;
  font-weight: 400;
  text-transform: none;
}
.desktop-list-subitems .nav-item .list-subitems .nav-item .list-subitems {
  margin: 0 0 0 8px;
}
.desktop-list-subitems
  .nav-item
  .list-subitems
  .nav-item
  .list-subitems
  .nav-list-link {
  padding: 0 0 0 10px;
  line-height: 15px;
}
.desktop-list-subitems .nav-list-link {
  display: block;
  margin-bottom: 6px;
  line-height: 20px;
}
.nav-categories-container {
  position: relative;
}
.nav-categories-container:after,
.nav-categories-container:before {
  position: absolute;
  display: block;
  height: 100%;
  width: 20px;
  left: 0;
  top: 0;
  content: "";
}
.nav-categories-container:after {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}
.search-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-suggest {
  position: absolute;
  z-index: 99999;
  width: calc(100% - 30px);
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-suggest .search-suggest-list {
  margin: 0 0 10px;
  padding: 10px;
}
.search-suggest .search-suggest-list .search-suggest-item {
  padding: 5px;
  text-align: left;
  list-style: none;
}
.search-suggest .search-suggest-list .search-suggest-item .search-suggest-text,
.search-suggest .search-suggest-list .search-suggest-item .search-suggest-name {
  margin-bottom: 5px;
  line-height: 18px;
}
footer {
  margin-top: 20px;
  padding-top: 40px;
}
footer .newsletter {
  position: relative;
  width: 100%;
}
.footer-menu-item {
  display: block;
  margin-bottom: 20px;
}
.footer-menu-link {
  display: block;
}
.social-icon-rounded {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
}
.social-icon-rounded:last-child {
  margin: 0;
}
.footer-payments-shipping-logos img {
  width: auto;
  max-height: 25px;
  margin: 5px;
}
.powered-by-text {
  display: inline-block;
}
.powered-by-logo {
  display: inline-block;
  width: 125px;
}
.copyright {
  padding-top: 15px;
}
.footer-legal {
  padding: 20px 0 50px 0;
  font-size: 12px;
}
.footer-logo {
  display: inline-block;
  margin-right: 15px;
}
.footer-logo img {
  max-height: 50px;
}
.footer-logo:last-child {
  margin: 0;
}
.section-banners-home,
.section-allsocialmedia-home {
  margin-top: 60px;
}
.section-featured-home {
  margin-bottom: 35px;
}
.instafeed-title {
  display: block;
  padding: 20px 0;
  line-height: 20px;
}
.instafeed-user {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}
.instafeed-link {
  position: relative;
  display: block;
  padding-top: 100%;
  overflow: hidden;
}
.instafeed-link:hover .instafeed-img,
.instafeed-link:focus .instafeed-img {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.instafeed-link:hover .instafeed-info,
.instafeed-link:focus .instafeed-info {
  opacity: 1;
}
.instafeed-link .instafeed-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.instafeed-link .instafeed-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.instafeed-link .instafeed-info .instafeed-info-item {
  display: inline-block;
  margin-top: 45%;
}
.textbanner .textbanner-image-effect,
.textbanner .textbanner-text,
.textbanner .textbanner-arrow {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.textbanner:hover .textbanner-image-effect,
.textbanner:focus .textbanner-image-effect {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.textbanner:hover .textbanner-arrow {
  right: 10px;
}
.service-item-image {
  display: inline-block;
  max-height: 84px;
  max-width: 100%;
  vertical-align: top;
}
.newsletter form {
  position: relative;
}
.newsletter form .newsletter-btn {
  position: absolute;
  top: 3px;
  right: 8px;
  width: 20px;
  height: 30px;
  text-indent: -99999px;
}
.newsletter form .newsletter-btn.btn {
  z-index: 9;
}
.placeholder-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.placeholder-info {
  position: relative;
  top: 50%;
  left: 50%;
  width: 330px;
  padding: 30px 25px;
  text-align: center;
  line-height: 18px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.placeholder-info .placeholder-description {
  margin: 20px 0;
}
.placeholder-info .placeholder-button {
  padding: 8px 15px;
}
.category-controls.is-sticky {
  padding: 10px 15px;
  transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.category-controls.is-sticky .page-header {
  margin-bottom: 0 !important;
}
.category-controls.is-sticky .page-header h1 {
  font-size: 12px;
}
.category-controls.is-sticky .category-breadcrumbs-container {
  height: 0;
  opacity: 0;
}
.category-controls.is-sticky.category-controls-transparent .page-header,
.category-controls.is-sticky.category-controls-transparent .breadcrumbs,
.category-controls.is-sticky.category-controls-transparent-md .page-header,
.category-controls.is-sticky.category-controls-transparent-md .breadcrumbs {
  opacity: 0;
}
.filters-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  width: 100%;
  height: 100%;
}
.filters-overlay .filters-updating-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.price-filter-container .filter-input-price-container {
  position: relative;
  display: inline-block;
  width: 95px;
  margin-right: 5px;
  vertical-align: sub;
}
.price-filter-container .filter-input-price-container .filter-input-price {
  padding: 8px 32px 8px 8px;
}
.price-filter-container .btn {
  padding: 10px;
}
.price-filter-container .btn.btn-price-filter {
  height: 30px;
  padding: 16px 10px;
  line-height: 2px;
  vertical-align: bottom;
}
.price-filter-container .btn.btn-price-filter.price-btn-ios {
  vertical-align: super;
}
.section-single-product {
  margin-bottom: 24px;
}
.fancybox__container .has-inline .fancybox__content {
  width: 100%;
  height: calc(100% - 20px);
  padding: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  background: 0 0;
}
.fancybox__container .has-inline .fancybox__content .fancybox-close-small {
  color: #ccc !important;
}
.fancybox__container .fancybox__slide.has-inline::before {
  display: none;
}
.fancybox-toolbar {
  opacity: 1 !important;
  visibility: visible !important;
}
.fancybox-toolbar .fancybox-button {
  display: none !important;
}
.fancybox-toolbar .fancybox-button.fancybox-button--close {
  display: block !important;
}
.fancybox-close-small {
  display: none !important;
}
.carousel {
  position: relative;
  box-sizing: border-box;
}
.carousel *,
.carousel *:before,
.carousel *:after {
  box-sizing: inherit;
}
.carousel.is-draggable {
  cursor: move;
  cursor: grab;
}
.carousel.is-dragging {
  cursor: move;
  cursor: grabbing;
}
.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.carousel__track {
  display: flex;
}
.carousel__slide {
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}
.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}
.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
  transition: opacity 0.15s ease-in-out;
}
.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}
.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease;
}
.carousel__button.is-prev,
.carousel__button.is-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__button.is-prev {
  left: 10px;
}
.carousel__button.is-next {
  right: 10px;
}
.carousel__button[disabled] {
  cursor: default;
  opacity: 0.3;
}
.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}
html.with-fancybox {
  scroll-behavior: auto;
}
body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none;
}
.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}
.fancybox__container *,
.fancybox__container *::before,
.fancybox__container *::after {
  box-sizing: inherit;
}
.fancybox__container :focus {
  outline: none;
}
body:not(.is-using-mouse) .fancybox__container :focus {
  box-shadow: 0 0 0 1px #fff,
    0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}
@media all and (min-width: 1024px) {
  .fancybox__container {
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 27px;
    --carousel-button-svg-height: 27px;
  }
}
.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}
.fancybox__carousel {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  z-index: 10;
}
.fancybox__carousel.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}
.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}
.fancybox__track {
  display: flex;
  height: 100%;
}
.fancybox__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px;
  position: relative;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
}
.fancybox__slide::before,
.fancybox__slide::after {
  content: "";
  flex: 0 0 0;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .fancybox__slide {
    padding: 64px 100px;
  }
}
.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: thin dotted;
  box-shadow: none;
}
.fancybox__caption {
  align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  flex-shrink: 0;
  overflow-wrap: anywhere;
}
.is-loading .fancybox__caption {
  visibility: hidden;
}
.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff);
}
.fancybox__nav .carousel__button {
  z-index: 40;
}
.fancybox__nav .carousel__button.is-next {
  right: 8px;
}
@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-next {
    right: 40px;
  }
}
.fancybox__nav .carousel__button.is-prev {
  left: 8px;
}
@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-prev {
    left: 40px;
  }
}
.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40;
}
@media all and (min-width: 1024px) {
  .carousel__button.is-close {
    right: 40px;
  }
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff);
}
.fancybox__no-click,
.fancybox__no-click button {
  pointer-events: none;
}
.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor);
}
.fancybox__slide .fancybox__spinner {
  cursor: pointer;
  z-index: 1053;
}
.fancybox__spinner svg {
  animation: fancybox-rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.fancybox__spinner svg circle {
  fill: none;
  stroke-width: 2.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: fancybox-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}
@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"]
  .carousel__button.is-close {
  animation: 0.15s ease backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
  animation: 0.15s ease both fancybox-fadeOut;
}
.fancybox-fadeIn {
  animation: 0.15s ease both fancybox-fadeIn;
}
.fancybox-fadeOut {
  animation: 0.1s ease both fancybox-fadeOut;
}
.fancybox-zoomInUp {
  animation: 0.2s ease both fancybox-zoomInUp;
}
.fancybox-zoomOutDown {
  animation: 0.15s ease both fancybox-zoomOutDown;
}
.fancybox-throwOutUp {
  animation: 0.15s ease both fancybox-throwOutUp;
}
.fancybox-throwOutDown {
  animation: 0.15s ease both fancybox-throwOutDown;
}
@keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fancybox-zoomInUp {
  from {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fancybox-zoomOutDown {
  to {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutUp {
  to {
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}
.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab;
}
.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing;
}
.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto;
}
.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in;
}
.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out;
}
.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab;
}
.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing;
}
.fancybox__image {
  transform-origin: 0 0;
  user-select: none;
  transition: none;
}
.has-image .fancybox__content {
  padding: 0;
  background: 0 0;
  min-height: 1px;
}
.is-closing .has-image .fancybox__content {
  overflow: visible;
}
.has-image[data-image-fit="contain"] {
  overflow: visible;
  touch-action: none;
}
.has-image[data-image-fit="contain"] .fancybox__content {
  flex-direction: row;
  flex-wrap: wrap;
}
.has-image[data-image-fit="contain"] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.has-image[data-image-fit="contain-w"] {
  overflow-x: hidden;
  overflow-y: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__content {
  min-height: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__image {
  max-width: 100%;
  height: auto;
}
.has-image[data-image-fit="cover"] {
  overflow: visible;
  touch-action: none;
}
.has-image[data-image-fit="cover"] .fancybox__content {
  width: 100%;
  height: 100%;
}
.has-image[data-image-fit="cover"] .fancybox__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  flex-shrink: 1;
  min-height: 1px;
  overflow: visible;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df;
}
.fancybox__html5video,
.fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: 0 0;
}
.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.fancybox__thumbs {
  flex: 0 0 auto;
  position: relative;
  padding: 0 3px;
  opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
  animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__thumbs {
  opacity: 0;
}
.fancybox__thumbs .carousel__slide {
  flex: 0 0 auto;
  width: var(--fancybox-thumbs-width, 96px);
  margin: 0;
  padding: 8px 3px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  cursor: pointer;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  opacity: 0;
  transition: opacity 0.15s ease;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: 0.92;
}
.fancybox__thumbs .carousel__slide > * {
  pointer-events: none;
  user-select: none;
}
.fancybox__thumb {
  position: relative;
  width: 100%;
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.006) 8.1%,
    rgba(0, 0, 0, 0.021) 15.5%,
    rgba(0, 0, 0, 0.046) 22.5%,
    rgba(0, 0, 0, 0.077) 29%,
    rgba(0, 0, 0, 0.114) 35.3%,
    rgba(0, 0, 0, 0.155) 41.2%,
    rgba(0, 0, 0, 0.198) 47.1%,
    rgba(0, 0, 0, 0.242) 52.9%,
    rgba(0, 0, 0, 0.285) 58.8%,
    rgba(0, 0, 0, 0.326) 64.7%,
    rgba(0, 0, 0, 0.363) 71%,
    rgba(0, 0, 0, 0.394) 77.5%,
    rgba(0, 0, 0, 0.419) 84.5%,
    rgba(0, 0, 0, 0.434) 91.9%,
    rgba(0, 0, 0, 0.44) 100%
  );
  padding: 0;
  touch-action: none;
  display: flex;
  justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(
    --fancybox-toolbar-text-shadow,
    1px 1px 1px rgba(0, 0, 0, 0.4)
  );
}
@media all and (min-width: 1024px) {
  .fancybox__toolbar {
    padding: 8px;
  }
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
  animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__toolbar {
  opacity: 0;
}
.fancybox__toolbar__items {
  display: flex;
}
.fancybox__toolbar__items--left {
  margin-right: auto;
}
.fancybox__toolbar__items--center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.fancybox__toolbar__items--right {
  margin-left: auto;
}
@media (max-width: 640px) {
  .fancybox__toolbar__items--center:not(:last-child) {
    display: none;
  }
}
.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased;
}
.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 30;
  user-select: none;
}
.fancybox__container:fullscreen::backdrop {
  opacity: 0;
}
.fancybox__button--fullscreen g:nth-child(2) {
  display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}
.fancybox__button--slideshow g:nth-child(2) {
  display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block;
}
.fancybox__container {
  z-index: 30000;
}
.user-content img {
  max-width: 100%;
  height: auto !important;
}
.social-share-button {
  margin-right: 25px;
}
.social-share-button:hover,
.social-share-button:focus {
  opacity: 0.8;
}
.cart-table-row {
  padding: 10px 0;
}
.cart-item {
  position: relative;
  margin-bottom: 15px;
}
.cart-item-name {
  margin-bottom: 5px;
  padding: 0 40px 10px 0;
  font-weight: 400;
}
.cart-item-subtotal {
  float: right;
  margin: 10px 0;
  text-align: right;
  font-weight: 400;
}
.cart-item-btn {
  padding: 6px;
  display: inline-block;
  background: 0 0;
  font-size: 16px;
  opacity: 0.8;
}
.cart-item-btn:hover {
  opacity: 0.6;
}
.cart-item-input {
  display: inline-block;
  width: 40px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  -moz-appearance: textfield;
}
.cart-item-input::-webkit-outer-spin-button,
.cart-item-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cart-item .fa-cog {
  display: none;
}
.cart-item-spinner {
  position: absolute;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  text-align: center;
}
.cart-item-delete {
  position: absolute;
  right: 12px;
  top: -5px;
}
.cart-item-delete .btn {
  padding-right: 0;
}
.cart-quantity-input-container i {
  padding: 6px 14px;
}
.cart-unit-price {
  float: left;
  width: 100%;
  margin: 5px 0 2px;
}
.cart-subtotal {
  float: right;
  clear: both;
  margin: 0 0 10px;
}
.total-promotions-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cart-total {
  clear: both;
  margin: 10px 0;
  font-weight: 700;
}
.cart-promotion-detail,
.cart-promotion-number {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.cart-promotion-number {
  text-align: right;
}
.contact-item {
  position: relative;
  padding-left: 30px;
}
.contact-item-icon {
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .modal-centered {
    left: 10%;
    height: 80%;
    width: 80%;
    margin: 5% auto;
  }
  .modal-centered-small {
    left: 50%;
    width: 40%;
    height: auto;
    max-height: 80%;
    margin: 0;
  }
  .modal-docked-md {
    width: 500px;
  }
  .modal-docked-md-centered {
    bottom: auto;
    left: calc(50% - 250px);
    height: auto;
  }
  .modal-docked-md-right {
    right: 20px;
    bottom: -100%;
    left: initial;
  }
  .modal-docked-small {
    width: 375px;
  }
  .modal-left-md {
    top: initial;
    right: initial;
    left: -100%;
    bottom: 0;
  }
  .modal-left-md.modal-show {
    right: initial;
    left: 0;
  }
  .modal-right-md {
    top: initial;
    right: -100%;
    left: initial;
    bottom: 0;
    border-radius: 0;
  }
  .modal-right-md.modal-show {
    right: 0;
    left: initial;

  }
  .modal-bottom-md {
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
  }
  .modal-bottom-md.modal-show {
    top: 0;
  }
  .modal-bottom-sheet {
    top: 100%;
  }
  .modal-bottom-sheet.modal-show {
    top: 0;
    bottom: auto;
  }
  .modal-docked-md-right.modal-show {
    top: initial;
    bottom: 20px;
  }
  .fancybox__container .has-inline .fancybox__content,
  .fancybox-slide--html .fancybox-content {
    width: 90%;
    height: auto;
  }
  .notification-floating {
    margin-top: -30px;
  }
  .price-filter-container .filter-input-price-container {
    width: calc(50% - 25px);
  }
  .price-filter-container .filter-input-price-container .filter-input-price {
    padding: 6px;
    font-size: 11px;
  }
  .tab-group {
    width: calc(100% + 20px);
    overflow-x: auto;
    white-space: normal;
  }
  .tab-group .tab {
    float: left;
  }
  .head-main.compress .logo-img {
    max-height: 50px;
  }
  .modal-nav-hamburger .nav-list-panel {
    width: 500px;
  }
  .modal-nav-hamburger .nav-list-panel-left-md {
    right: initial;
    left: -100%;
  }
  .modal-nav-hamburger .nav-list-panel-right-md {
    right: -100%;
    left: initial;
  }
  .modal-nav-hamburger .nav-list-panel-left-md.nav-list-panel-show {
    right: initial;
    left: 0;
  }
  .modal-nav-hamburger .nav-list-panel-right-md.nav-list-panel-show {
    right: 0;
    left: initial;
  }
  .footer form .newsletter-btn {
    top: 5px;
  }
  .copyright {
    padding: 0;
  }
}
.visible-when-content-ready {
  visibility: visible !important;
}
.display-when-content-ready {
  display: block !important;
}
.creditcustom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 450px) {
  .footer-legal {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .creditcustom {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .claim-link {
    margin-bottom: 20px;
  }
  .footer-legal {
    margin-bottom: 40px;
  }
}
.footer-logo {
  display: inline-block;
  margin-right: 15px;
}
.footer-logo img {
  height: 24px;
  width: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.75;
}
.footer-logo:last-child {
  margin: 0;
}
.modalcustomcontainer {
  padding: 20px 20px 0;
}
.nav-account {
  display: flex;
  margin: 0;
  padding: 7px 0;
  align-items: center;
  list-style: none;
}
.nav-account .nav-accounts-item {
  display: inline-block;
  margin: 10px;
  font-size: 13px;
}
.pre-currencies .nav-list-arrow {
  right: 15px;
}
