<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head', {title: 'Crea tu cuenta'}) %>
  </head>
  <body class="js-head-offset head-offset">
    <%- include('partials/header') %>
    <main id="register-form" class="d-flex align-items-center min-vh-100 py-3 py-md-0">
              <div class="container">
                  <div class="card login-card">
                      <div class="row no-gutters">
                          <div class="col-md-7">
                              <div class="card-body">
                                  <div class="brand-wrapper">
                                      <img src="/img/design/logo.png" alt="logo" class="logo">
                                  </div>
                                  <p class="login-card-description">Crear cuenta</p>
                                  <form id="register-form" action="" method="POST" data-store="account-register" data-toggle="validator" role="form">
                                      <div class="field-set">
                                          <div class="mb-2 form-fullname">
                                              <input class="form-input form-campo" id="txt-input" type="text" placeholder="Nombre" required>
                                              <input class="form-input form-campo" id="txt-input" type="text" placeholder="Apellido" required>
                                          </div>
                                          <div class="mb-2 form-campo">
                                              <span class="input-item">
                                                  <i class="fa fa-user-circle"></i>
                                              </span>
                                              <input class="form-input" id="txt-input" type="email" placeholder="@Correo" required>
                                          </div>
                                          <div class="mb-2 form-campo form-group">
                                              <span class="input-item">
                                                  <i class="fa fa-key"></i>
                                              </span>
                                              <input class="form-input" type="password" placeholder="Contraseña" id="pwd" name="password" required data-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.">
                                              <span>
                                                  <i class="fa fa-eye-slash" aria-hidden="true" type="button" id="eye"></i>
                                              </span>
                                          </div>
                                          <div class="form-group">
                                            <div class="mb-2 form-campo">
                                              <span class="input-item">
                                                  <i class="fa fa-key"></i>
                                              </span>
                                              <input class="form-input" type="password" placeholder="Confirmar contraseña" id="pwd-confirm" name="password" required data-match="#pwd" data-match-error="Ups, las contraseñas no coinciden!">
                                              <span>
                                                  <i class="fa fa-eye-slash eye" aria-hidden="true" type="button" id="eye-confirm"></i>
                                              </span>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                          </div>
                                          <div class="notification-danger notification-left" id="notification-danger" style="display: none;">Las contraseñas no coinciden.</div>
                                          <div class="mb-1">
                                              <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                              <label class="form-check-label" for="termsCheck">Acepto los términos y condiciones.</label>
                                          </div>
                                          <button class="btn btn-block login-btn mb-4 log-in" id="register-btn" type="submit" value="Crear cuenta" disabled> Crear cuenta </button>
                                      </div>
                                  </form>
                                  <p class="login-card-footer-text">¿Ya tenés una cuenta? <a href="/account/login" class="text-reset">Iniciá sesión</a></p>
                              </div>
                          </div>
                          <div id="mensaje-login" class="col-md-5">
                              <img src="/img/modelos/modelo6.jpg" alt="login" class="login-card-img">
                              <p
                                  class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small"
                                  style="background-color: rgba(0, 0, 0, 0.5); padding: 10px;">
                                  Crea una cuenta en <a href="/" target="_blank" class="text-white">
                                      KunturStyle</a> para poder realizar pedidos
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/header.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>